span.input-group-addon {
	width: 100%;
	text-align: left;
}

input.form-control {
	display: block;
	width: 150px !important;
}

.fr {
	float: right;
}

.fr2 {
	display: block;
	width: 100%;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}