.imagen {
	display: inline-block;
	width: 80px;
	margin-right: 5vw;
}

.imagen img:nth-child(1) {
	width: 100%;
}

.imagen img:nth-child(2) {
	position: fixed;

	display: none;

	width: 30vw;

	top: 10vh;
	left: 35vw;
	right: 35vw;

	z-index: 5;
}

.imagen:hover > img:nth-child(2) {
	display: block;
}