#nuevaPromo {
	position: fixed;
	
	box-sizing: border-box;

	width: 400px;
	height: calc(93vh - 100px);

	top: calc(7vh + 50px);
	left: 50px;

	padding: 10px;

	border: 1px solid black;

	overflow-y: auto;

	background-color: white;
}

#nuevaPromo img {
	width: 90%;
	margin: 30px 5% 5px 5%;
}

#nuevaPromo input[type=submit] {
	width: 90%;
	margin: 5%;
}

#nuevaPromo p {
	text-align: center;

	padding: 10px;

	background-color: lightgrey;
}

#promos {
	position: fixed;

	width: calc(100vw - 500px);
	height: calc(93vh - 100px);

	top: calc(7vh + 50px);
	right: 50px;

	overflow-y: auto;
}

#promos img {
	width: 90%;

	margin: 5px 5%;
}