@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
	--col-a: #2745ea;
    --col-b: white;
	--col-c: #41a9f4;

	--tam-precio: 35vh;
}

body {
	font-family: 'Roboto', sans-serif;
	
	background-color: var(--col-c);
}

#producto {
	width: 100vw;
	height: calc(var(--tam-precio) * .8);

	background-color: var(--col-b);
}

#precio {
	box-sizing: border-box;
	position: absolute;

	width: var(--tam-precio);
	height: var(--tam-precio);
	text-align: center;
	line-height: calc(var(--tam-precio) * .8 );

	padding-right: calc(var(--tam-precio) * .25); 

	border-bottom-right-radius: 80%;

	font-size: 3em;

	background-color: var(--col-a);
	color: var(--col-b);
}

#informacion {
	padding: 50px;
}

#informacion > p {
	width: 100vw;
	text-align: center;

	padding-left: calc(var(--tam-precio) * .5);

	background-color: lightgrey;
}

#informacion > p:first-child {
	font-size: 250%;
}

#informacion > p:last-child {
	font-size: 200%;
}