@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	font-family: 'Roboto', sans-serif;
	
	background-color: var(--col-fondo);

	overflow: hidden;
}

:root {
	--tam-inst: 50px;
}

/* Carousel de promociones */
#titulo_promo {
	box-sizing: border-box;
	position: fixed;

	width: calc(100vw - calc(var(--promo-separacion) * 2));
	height: var(--promo-alto-titulo);
	top: var(--promo-separacion);

	margin: 0 var(--promo-separacion);
	padding-left: var(--promo-alto-titulo);

	text-align: center;
	line-height: var(--promo-alto-titulo);
	font-size: var(--promo-titulo-tam-letra);

	border-radius: var(--promo-bordes);
	box-shadow: var(--promo-sombra-titulo);

	background-color: var(--promo-col-fondo);
	color: var(--promo-col-letra);
	
	z-index: 2;

	animation: anim-titulo var(--tiempo);
}

@keyframes anim-titulo {
	from {
		margin-left: -100vw;
	}
	to {
		margin-left: var(--promo-separacion);
	}
}

@keyframes anim-titulo-ocultar {
	from {
		margin-left: var(--promo-separacion);
	}
	to {
		margin-left: -100vw;
	}
}

#img_logo {
	position: fixed;
	
	height: var(--promo-alto-titulo);
	top: var(--promo-separacion);
	margin-left: var(--promo-separacion);
	
	border-top-left-radius: var(--promo-bordes);
	border-bottom-left-radius: var(--promo-bordes);
	
	z-index: 3;
	
	animation: anim-titulo var(--tiempo);
}

#promociones {
	width: 100vw;
	height: calc(100vh - calc(calc(var(--promo-separacion) * 3) + var(--promo-alto-titulo)));
	margin: var(--promo-separacion) 0;
	margin-top: calc(var(--promo-alto-titulo) + calc(var(--promo-separacion) * 2));

	color: var(--promo-col-letra);

	animation: anim-carousel var(--tiempo);
}

@keyframes anim-carousel {
	from {
		margin-top: 100vw;
	}
	to {
    	margin-top: calc(var(--promo-alto-titulo) + calc(var(--promo-separacion) * 2));
	}
}

@keyframes anim-carousel-ocultar {
	from {
    	margin-top: calc(var(--promo-alto-titulo) + calc(var(--promo-separacion) * 2));
	}
	to {
    	margin-top: 100vw;
	}
}

#promociones img {
	height: calc(calc(100vh - calc(calc(var(--promo-separacion) * 3) + var(--promo-alto-titulo))) - var(--tam-inst));
	margin: 0 calc(var(--promo-separacion) * 2);

	border-radius: var(--promo-bordes);
}

/* Consulta precio */
#informacion {
	box-sizing: border-box;
	position: relative;

	width: calc(100vw - calc(var(--info-margen) * 2));
	height: calc(calc(100vh - calc(var(--info-margen) * 1.5)) - var(--tam-inst));
	top: var(--info-margen);
	left: var(--info-margen);

	padding: var(--info-padding);

	font-size: var(--info-tam-letra-titulo);

	border-radius: var(--info-bordes);
	box-shadow: var(--info-sombra);

	overflow: hidden;

	background-color: var(--info-col-fondo);
	color: var(--info-col-letra);

	z-index: 1;

	animation: anim-info var(--tiempo);
}

@keyframes anim-info {
	from {
		left: -100vw;
	}
	to {
		left: var(--info-margen);
	}
}

@keyframes anim-info-ocultar {
	from {
		left: var(--info-margen);
	}
	to {
		left: -200vw;
	}
}

#infoImg {
	position: fixed;

	height: 40vh;
	top: -100vh;
	left: calc(var(--info-margen) / 3);

	border: 1px solid black;
	border-radius: 2.5vw;

	z-index: 2;
}

@keyframes anim-img {
	from {
		top: -100vh;
	}
	to {
		top: calc(var(--info-margen) / 3);
	}
}

@keyframes anim-img-ocultar {
	from {
		top: calc(var(--info-margen) / 3);
	}
	to {
		top: 200vh;
	}
}

#informacion > div {
	position: absolute;

	bottom: var(--info-padding);
	left: var(--info-padding);
	right: var(--info-padding);

	text-align: left;
}

#descripcion {
	font-size: var(--info-tam-letra-descripcion);
	margin-bottom: var(--info-padding);
}

#marca {
	font-size: var(--info-tam-letra-marca);
	margin-bottom: 3vh;
}

#detalle {
	font-size: var(--info-tam-letra-detalle);
}

#precio {
	position: fixed;

	top: -100vh;
	right: calc(var(--info-margen) / 3);

	font-size: var(--precio-tam-letra);
	text-align: center;

	padding: var(--precio-padding);

	border-radius: var(--precio-bordes);
	box-shadow: var(--precio-sombra);

	background-color: var(--precio-col-fondo);
	color: var(--precio-col-letra);

	z-index: 2;
}

@keyframes anim-precio {
	from {
		top: -100vh;
	}
	to {
		top: calc(var(--info-margen) / 3);
	}
}

@keyframes anim-precio-ocultar {
	from {
		top: calc(var(--info-margen) / 3);
	}
	to {
		top: 200vh;
	}
}

#divCodigo {
	position: fixed;

	top: -100vh;
	right: calc(var(--info-margen) * 1.2);

	font-size: var(--codigo-tam-letra);
	text-align: center;

	background-color: transparent;
	color: rgba(0, 0, 0, 0.5);

	z-index: 3;
}

@keyframes anim-codigo {
	from {
		top: -100vh;
	}
	to {
		top: calc(var(--info-margen) * 2.25);
	}
}

@keyframes anim-codigo-ocultar {
	from {
		top: calc(var(--info-margen) / 3);
	}
	to {
		top: 200vh;
	}
}

#institucional {
	position: fixed;

	height: calc(var(--tam-inst) + 2vh);

	left: 0;
	bottom: 0;

	z-index: 5;
}

#menu {
	box-sizing: border-box;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 7vh;

	padding: 1vh;
	text-align: center;

	background-color: white;
}

#menu span,
.link {
	display: inline-block;

	width: 32.3vw;
	height: 5vh;

	text-align: center;
	line-height: 4.7vh;
	font-size: 3vh;
	text-decoration: none;

	background-color: var(--precio-col-fondo);
	color: white;
}

#menu span {
	background-color: white;
	color: black;
}

.link:hover {
	text-decoration: underline;
}

.f.r {
	float: right;
}